<!DOCTYPE html>
<html>
    <head>
        <title>Chuck's Blog</title>
    </head>
    <body>
        <h1>Chuck's Blog</h1>
        <article>
            <time>Published: 11/26/23 16:49</time>
            <h2><a href="">First Post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam explicabo maiores sequi voluptatum impedit facere dolor doloribus esse corporis? Velit et adipisci ipsum, mollitia quis quasi pariatur architecto itaque voluptatum?</p>
        </article>

        <article>
            <time>Published: 11/26/23 16:53</time>
            <h2><a href="">Second Post</a></h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum sapiente ipsa harum itaque expedita perferendis unde commodi distinctio tenetur officia ut voluptas sed molestiae quis quisquam rerum sunt, placeat non? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat praesentium nesciunt molestias at modi quisquam ipsam maiores distinctio a numquam repellat non fugiat, quia facere molestiae earum aut excepturi consequatur.</p>
        </article>
    </body>
</html>